
fswatch.commands.txt
SyncFileModificationTimes/Build
SyncFileModificationTimes/SyncFileModificationTimes.xcodeproj/project.xcworkspace/xcuserdata
SyncFileModificationTimes/SyncFileModificationTimes.xcodeproj/xcuserdata
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPAPI/
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsAsynchronousOperation.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsAsynchronousOperation.m
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsDictionary.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsDictionary.m
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsEnumerable.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsEnumerable.m
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsObject.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsObject.m
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsQuadTree.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsQuadTree.m
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsQuadTreeMathCartesian.h
SyncFileModificationTimes/SyncFileModificationTimes/Libraries/JPTools/JPToolsQuadTreeMathCartesian.m